*{
  padding: 0px;
  margin: 0px;
}

nav a{
  /* background-color: cadetblue;  */
  text-decoration: none;
  margin: 50px;
  color: azure;
  font-size: 25px;
  
}
nav a:hover{
  background-color: black;
  color: aliceblue;
  padding: 10px;
}

nav{
  background-color: cadetblue;
  padding: 10px;
}
.circle{
  background-color: coral;
  height: 50px;
  width: 50px;
  margin: 5px;
  /*text-align: center;
  */border-radius:50px
 
}

.box{
  background-color: violet;
  height: 100px;
  width: 100px;
margin: 5px;
padding: 10px;
display: inline-block;

}
.container{
  border: 5px solid ;
  margin: 5px;
}
.extra{
  background-color: black;
  color: aliceblue;
  height: 100px;
  width: 100px;
  font-size: 25px;
  position: fixed;
  right: 20px;
}